<div class="col-12">Restablecer Contraseña</div>
<label for="inputPassword5" class="form-label">Password</label>
<input
  type="password"
  id="inputPassword5"
  class="form-control"
  aria-describedby="passwordHelpBlock"
  placeholder="Nueva Contraseña"
/>

<label for="inputPassword5" class="form-label">Password</label>
<input
  type="password"
  id="inputPassword5"
  class="form-control"
  aria-describedby="passwordHelpBlock"
  placeholder="Confirmar Contraseña"
/>

<div class="mb-3 mt-3">
  <button class="btn btn-success">Confirmar</button>
</div>
